.father{
    width: 200px;
    height: 200px;
    background: rgb(219, 68, 101);
    margin-left: 100px;
    margin-top: 100px;
}
.child{
    width: 100px;
    height: 100px;
    background-color: rgb(56, 248, 207);
    margin-left: 50px;
    margin-top: 50px;
}
